<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.1.0/dist/axentix.min.css">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    </head>
    <body>
        <header>
            <nav class="navbar primary">
                <a href="{{ path('app_home') }}" class="navbar-brand">Achats</a>
                <div class="d-flex navbar-menu ml-auto">
                    <div class="dropdown ml-auto" id="example-dropdown" data-ax="dropdown">
                        <button type="button" class="btn shadow-1 rounded-1 primary" data-target="example-dropdown">
                        Toggle
                        </button>
                        <div class="dropdown-content white dropdown-right shadow-1 rounded-1">
                        <a class="dropdown-item" href="{{ path('app_home') }}">Accueil</a>
                        <a class="dropdown-item" href="{{ path('app_register') }}">Register</a>
                        <a class="dropdown-item" href="{{ path('app_login') }}">Login</a>
                        <a class="dropdown-item" href="{{ path('users_home') }}">Users</a>
                        <a class="dropdown-item" href="{{ path('admin_home') }}">Admin</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <main>
        {% block body %}{% endblock %}
        </main>

        <footer class="d-flex fx-col blue">
            <div class="container">
                <div class="grix xs3">
                <div>
                    <h6>Left side of the footer</h6>
                    <p>
                    This is my phone number<br />
                    01 23 45 67 89
                    </p>
                </div>
                <div class="text-center">
                    <h6>Middle of the footer</h6>
                    <p>
                    Welcome<br />
                    I'm under "Welcome"
                    </p>
                </div>
                <div class="text-right">
                    <h6>Right side of the footer</h6>
                    <p>
                    This is my address<br />
                    Route 12
                    </p>
                </div>
                </div>
            </div>
            <div class="footer fx-center blue dark-1">Copyright © 2022 - Example</div>
        </footer>

       

        <script src="https://cdn.jsdelivr.net/npm/axentix@2.1.0/dist/axentix.min.js"></script>
	
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script src="{{ asset('js/scripts.js') }}"></script>
    </body>
</html>
